
.verde {
    background-color: rgb(40, 117, 9);
    clip-path: polygon(100% 0, 100% 0, 0 54%, 0 0);
    width: 1000px;
    height: 500px;
    position:absolute
}
.vermelho{
    background-color: brown;
    clip-path: polygon(100% 47%, 100% 0, 0 54%, 0 100%);
    width: 1000px;
    height: 500px;
    position:absolute
}
.amarelo {
    background-color: rgb(251, 255, 0);
    clip-path: polygon(100% 47%, 100% 0, 100% 100%, 0 100%);
    width: 1000px;
    height: 500px;
    position:absolute
}
